#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    chown system system /dev/xiaomi-touch
    chmod 0664 /dev/xiaomi-touch
    chown system system /dev/nanodev0
    chmod 0664 /dev/nanodev0
    start xiaomi-keyboard

    # WiFi country code
    setprop ro.boot.wificountrycode US

# Health
on boot
    chmod 0660 /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/input_suspend

# NVMAC
on property:init.svc.vendor.nv_mac=stopped
    start vendor.btmac-sh

service vendor.btmac-sh /vendor/bin/init.mi.btmac.sh
    class late_start
    user system
    group system bluetooth wifi
    oneshot
    disabled

service xiaomi-pen /vendor/bin/xiaomi-pen ${persist.vendor.parts.pen}
    class main
    user system
    group system input
    oneshot
    disabled

service xiaomi-keyboard /vendor/bin/xiaomi-keyboard
    class main
    user system
    group system input
    oneshot
    disabled

on property:persist.vendor.parts.pen=*
    start xiaomi-pen
